/* Page Header
   ========================================================================== */
/**
* $page-header = $pg-header
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$pg-header-bg: $bc-white;
$pg-header-cluster-padding: $m;
$pg-header-cluster-icon-margin: $xs $s 0 0;
$pg-header-cluster-line-height: $l;
$pg-header-user-margin: $s $xl;
$pg-header-user-icon-margin: $xs;
$pg-header-user-ul-margin-top: $s + 5;
$pg-header-height: 49px;
