#page-content-wrapper footer {
  padding: 0;
  position: inherit;
  }

.footer-side-menu {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 54px;
  background: $footer-bg;
  border: 0;
  padding: 0;
  display: none;

  ul.footer-list {
    display: flex;
    flex-direction: row;
    font-size: $footer-side-menu-font-size;
    margin: 0;
    padding: $footer-padding;
    color: $sb-gray-200;
  }

  li.footer-list-item {
    list-style: none;
    padding: $footer-list-padding;

    a {
      padding: 0;
      margin: 0;
      color: $footer-link-color;
    }
  }
}

.footer-content {
    align-items: center;
    border-top: 1px solid #f4f4f4;
    box-shadow: 0px -2px 3px rgba(226, 226, 226, 0.11);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background: white;

    ul.footer-list {
      align-items: center;
      display: flex;
    fontlex-direction: row;
      font-size: 12px;
      justify-content: center;
      margin: 0;
      padding: 8px 16px;

    li.footer-list-item {
      list-style: none;
      padding: 0 8px;
    }
  }
}

.toggled {
  .footer-side-menu {
    width: 249px;
    display: block;
  }

  .display-collapsed {
    display: none
  }
}


