/* Footer
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$footer-bg: $sb-blue-900;
$footer-link-color: $sb-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$footer-side-menu-font-size: 12px;
$footer-width: 250px;
$footer-padding: $s $m;
$footer-list-padding: 0 $s;

