/* Primary colors variables
   ========================================================================== */
/* SUSE brand - green */
$sb-green-100: #E0F7F0; //rgb(179, 236, 217)
$sb-green-200: #B3ECD9; //rgb(128, 224, 192)
$sb-green-300: #4DD3A7; //rgb(77, 211, 167);
$sb-green-400: #26C994; //rgb(38, 201, 148);
$sb-green-500: #00C081; //rgb(0, 192, 129);
$sb-green-600: #00BA79; //rgb(0, 186, 121);
$sb-green-700: #00B26E; //rgb(0, 178, 110);
$sb-green-800: #00AA64; //rgb(0, 170, 100);
$sb-green-900: #009C51; //rgb(0, 156, 81);

/* SUSE brand - blue */
$sb-blue-100: #B6C0C6; //rgb(182, 192, 198);
$sb-blue-200: #8696A0; //rgb(134, 150, 160);
$sb-blue-300: #566B79; //rgb(86, 107, 121);
$sb-blue-400: #314C5D; //rgb(49, 76, 93);
$sb-blue-500: #0D2C40; //rgb(13, 44, 64);
$sb-blue-600: #0B273A; //rgb(11, 39, 58);
$sb-blue-700: #092132; //rgb(9, 33, 50);
$sb-blue-800: #071B2A; //rgb(7, 27, 42);
$sb-blue-900: #03101C; //rgb(3, 16, 28);

/* Secondary colors variables
   ========================================================================== */
/* SUSE brand - orange */
$sb-orange-100: #FDCEB3; //rgb(253, 206, 179);
$sb-orange-200: #FBAE81; //rgb(251, 174, 129);
$sb-orange-300: #F98D4F; //rgb(249, 141, 79);
$sb-orange-400: #F87429; //rgb(248, 116, 41);
$sb-orange-500: #F75C03; //rgb(247, 92, 3);
$sb-orange-600: #F65403; //rgb(246, 84, 3);
$sb-orange-700: #F54A02; //rgb(245, 74, 2);
$sb-orange-800: #F34102; //rgb(243, 65, 2);
$sb-orange-900: #F13001; //rgb(241, 48, 1);

/* SUSE brand - cerulean */
$sb-cerulean-100: #B3E8F6; //rgb(179, 232, 246);
$sb-cerulean-200: #80D9F1; //rgb(128, 217, 241);
$sb-cerulean-300: #4DC9EB; //rgb(77, 201, 235);
$sb-cerulean-400: #26BEE6; //rgb(38, 190, 230);
$sb-cerulean-500: #00B2E2; //rgb(0, 178, 226);
$sb-cerulean-600: #00ABDF; //rgb(0, 171, 223);
$sb-cerulean-700: #00A2DA; //rgb(0, 162, 218);
$sb-cerulean-800: #0099D6; //rgb(0, 153, 214);
$sb-cerulean-900: #008ACF; //rgb(0, 138, 207);

/* SUSE brand - violet */
$sb-violet-100: #DAB9D9; //rgb(218, 185, 217);
$sb-violet-200: #C28BC0; //rgb(194, 139, 192);
$sb-violet-300: #A95DA7; //rgb(169, 93, 167);
$sb-violet-400: #963A94; //rgb(150, 58, 148);
$sb-violet-500: #841781; //rgb(132, 23, 129);
$sb-violet-600: #7C1479; //rgb(124, 20, 121);
$sb-violet-700: #71116E; //rgb(113, 17, 110);
$sb-violet-800: #670D64; //rgb(103, 13, 100);
$sb-violet-900: #540751; //rgb(84, 7, 81);

/* Bootstrap 3 colors variables
   ========================================================================== */
/* SUSE brand - red */
$sb-red-100: #F5C2C7; //rgb(245, 194, 199);
$sb-red-200: #EE9AA2; //rgb(238, 154, 162);
$sb-red-300: #E7727D; //rgb(231, 114, 125);
$sb-red-400: #E15361; //rgb(225, 83, 97);
$sb-red-500: #DC3545; //rgb(220, 53, 69);
$sb-red-600: #D8303E; //rgb(216, 48, 62);
$sb-red-700: #D32836; //rgb(211, 40, 54);
$sb-red-800: #CE222E; //rgb(206, 34, 46);
$sb-red-900: #C5161F; //rgb(197, 22, 31);

/* SUSE brand - yellow */
$sb-yellow-100: #FFECB5; //rgb(255, 236, 181);
$sb-yellow-200: #FFE083; //rgb(255, 224, 131);
$sb-yellow-300: #FFD451; //rgb(255, 212, 81);
$sb-yellow-400: #FFCA2C; //rgb(255, 202, 44);
$sb-yellow-500: #FFC107; //rgb(255, 193, 7);
$sb-yellow-600: #FFBB06; //rgb(255, 187, 6);
$sb-yellow-700: #FFB305; //rgb(255, 179, 5);
$sb-yellow-800: #FFAB04; //rgb(255, 171, 4);
$sb-yellow-900: #FF9E02; //rgb(255, 158, 2);

/* SUSE brand - gray */
$sb-gray-50: #fcfcfc; //rgb(252, 252, 252);
$sb-gray-80: #edeff0; //rgb(237, 239, 240);
$sb-gray-100: #E0DFDF; //rgb(224, 223, 223);
$sb-gray-200: #CBCACA; //rgb(203, 202, 202);
$sb-gray-300: #B6B4B4; //rgb(182, 180, 180);
$sb-gray-400: #A6A4A4; //rgb(166, 164, 164);
$sb-gray-500: #969494; //rgb(150, 148, 148);
$sb-gray-600: #8E8C8C; //rgb(142, 140, 140);
$sb-gray-700: #838181; //rgb(131, 129, 129);
$sb-gray-800: #797777; //rgb(121, 119, 119);
$sb-gray-900: #686565; //rgb(104, 101, 101);

/* SUSE brand - neutral */
$sb-white: #ffffff; //rgb(255, 255, 255);
$sb-black: #000000; //rgb(0, 0, 0);
