/* Buttons variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$add-cluster-bt-color: $sb-gray-900;
$add-cluster-bt-color-hover: $sb-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/Spacing.scss */
$add-cluster-bt-margin-left: $m;
$add-cluster-bt-line-height: 37px;