/* Meaningful colors variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$color-main: $bc-green-500;
$color-default: $bc-gray-500;
$color-info: $bc-cerulean-500;
$color-danger: $bc-red-500;
$color-success: $bc-green-500;
$color-warning: $bc-yellow-500;
