/* Error variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/error.scss */


/* Dashboard Error */
/* Colors variables: assets/stylesheets/base/variables/error.scss */
$dashboard-error-border-color: $sb-gray-80;
$dashboard-error-li-color: $color-danger;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$dashboard-error-padding: 0 $l $l $l;
$dashboard-error-margin-bottom: 12px;
$dashboard-error-li-padding: 4px 0;
$dashboard-error-icon-margin-right: 8px;
