/* Footer
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
* Titles: /assets/stylesheets/base/variables/titles.scss
*/
$header-font-size: $h5-font-size;
$header-width: 250px;
$header-height: 50px;
$header-text-color: $sb-white;
$header-hr-color: $sb-blue-400;
$header-spacing: $m;
