/* Footer
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/

$footer-bg: $sb-blue-900;
$footer-dropdown-bg: $sb-blue-800;
$footer-dropdown-color: $sb-gray-800;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$footer-width: 250px;
$footer-padding: $m $l;
$footer-dropdown-li-padding: $xs $l;
$footer-dropdown-margin: 0 0 $m 0;
$footer-dropdown-padding: $s 0 $s 0;
$footer-dropdown-left: -25px;
$footer-copyright-span-margin: $m;