/* Layout
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */

$body-bg: $sb-gray-50;
$body-color: $sb-gray-900;
$sidebar-width: 250px;
$sidebar-view-padding-left: 55px;
