/* Legend
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/spacings.scss */

$legend-ul-width: 440px;
$legend-ul-padding: $s $xs;
$legend-li-width: 50%;
$legend-li-a-padding: $xs $s;
$legend-icons-margin-right: $xs;
