/* Modal Dialog variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/spacing.scss */
/* Colors variables: /assets/stylesheets/base/variables/typography.scss */
$modal-body-padding: $m $l;
$modal-body-font-weight: $font-weight-light-base;