/* Page Header
   ========================================================================== */
/**
* $page-header = $pg-header
*
* Colors variables: /assets/stylesheets/base/variables/branding.scss
*/
$pg-header-bg: $sb-white;
$pg-header-cluster-padding: $m;
$pg-header-cluster-icon-margin: $xs $s 0 0;
$pg-header-cluster-line-height: $l;
$pg-header-user-margin: $m;
$pg-header-user-icon-margin: $xs;
$pg-header-user-ul-margin-top: $s + 5;
$pg-header-user-ul-padding: 0px $m $s $m;
$pg-header-user-li-padding: $xs 0;
