/* Tables variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/*  dashboard-t = dashboard-table */

$table-border-color: $base-border-color;
$table-th-border-bottom: 2px solid $base-border-color;
$table-th-background: rgba($sb-gray-80, 0.3);
$table-th-padding: $s + 2 $s;
$table-td-height: 37px;

/*  Dashboard Table */
/*  dashboard-t = dashboard-table */

$dashboard-t-border: 1px solid $base-border-color;
$dashboard-t-status-icon-col-width: 70px;

/*  Node and Resources */
/*  node-t = node-table */
/*  resources-t = resources-table */
$status-circle-margin-right: $s;
$status-circle-width-height: $s - 2;

