/* Status circle colors  */
$status-stopped: $color-danger;
$status-not-running: $color-default;
$status-started: $color-main;
$status-slave: $color-warning;
$status-master: $bc-orange-300;
$status-offline: $bc-gray-100;
