/* Status circle colors  */
$status-stopped: $color-danger;
$status-not-running: $color-default;
$status-started: $color-main;
$status-slave: $color-warning;
$status-master: $sb-orange-300;
$status-offline: $sb-gray-100;
