/* Colors
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/colors.scss */

/* Status colors */
.warning-status {
  color: $status-warning;
}

.critical-status {
  color: $status-critical;
}

.running-status {
  color: $status-running;
}



/* Status colors in bg  ---- need to clean*/
.status-stopped { 
  background: $status-stopped;
}

.status-not-running { 
  background: $status-not-running;
}

.status-started { 
  background: $status-started;
}

.status-slave { 
  background: $status-slave;
}

.status-master { 
  background: $status-master;
}

.status-offline { 
  background: $status-offline;
}

/* Legend colors */
.Legend-stopped { 
  color: $status-stopped;
}

.Legend-not-running { 
  color: $status-not-running;
}

.Legend-started { 
  color: $status-started;
}

.Legend-offline { 
  color: $status-offline;
}
