/* Page Title
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/page-title.scss */
.page-title {
  margin: 0;
  border-bottom: $page-title-border-bottom;
  padding-bottom: $page-title-padding-bottom;

  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }
}


