/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/pages/dashboard.scss */

.dashboard-header {
  margin: 0;
  padding: 0 30px 10px 30px;
  border-style: none none double none;
  border-color: $border-color;

  .search {
    width: 200px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 3px;
    padding: 6px 10px;
    line-height: 18px;
    height: auto;
  }

  .header-toolbox {
    margin-bottom: 0;

    > li {
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle;
      padding: 0;

      .dropdown-toggle::after {
        border: 0;
      }
    }
  }
}

  .dashboard-table {
    margin-bottom: 0;
    > thead > tr > th {
      padding: 16px 10px;
      font-weight: 400;
      border-top: none;
      text-align: center;
      border-right: 1px solid $border-color;
      &:last-child {
        border-right: 0;
      }
    }

    > tbody > tr > td {
      padding: 10px;
      border-right: 1px solid $border-color;
      text-align: center;
      &:last-child {
        border-right: 0;
      }

      &.status-icon-col {
       width: 40px;
        border-right: 0;
      }
      &.resource-col {
        text-align: left;
      }
    }
  }


.resource-status {
  width: 4px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.nodes-dropdown {
  display: -webkit-inline-box;
}

.status-icon {
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.node-name {
  display: inline-block;
  text-align: left;
  line-height: 13px;
  margin-right: 5px;
  vertical-align: bottom;
  padding: 0;
  
  span {
    font-size: 11px;
    color: #888;
    display: block;

    > .material-icons {
      vertical-align: middle;
    }
  }
}

.modal-dialog {
  .modal-header {
    > h5 {
      font-size: 18px;
      color: $gray--darker;

      > .material-icons {
        display: inline-block;
        margin-right: 8px;
        vertical-align: text-bottom;
      }
    }

    .close {
      opacity: 1;
    }
  }
  .modal-body {
    padding: 15px 35px;

    .form-group > label {
      color: $gray--lighter;
      font-weight: 400;

      span {
        color: red;
      }
    }
  }
}


  
.collapsed .icon-up{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(-180deg);
}
