/* Dashboard
   ========================================================================== */
/* Variables: /assets/stylesheets/base/variables/pages/dashboard.scss */

.add-cluster-bt {
  float: left;
  margin-left: 25px;
  line-height: 40px;
}

.dashboard-header {
  margin: 0;
  padding: 0 30px 10px 30px;
  border-style: none none double none;
  border-color: $border-color;

  .search {
    width: 200px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 3px;
    padding: 6px 10px;
    line-height: 18px;
    height: auto;
  }

  .filters-settings {
    margin-bottom: 0;

    > li {
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle;
      
      &.cluster-ticket {
        border-right: 1px solid $border-color;
        padding-right: 7px;

        .btn {
          padding: 0 12px; 
        }

        span {
          background: #a32a00;
          font-size: 10px;
          text-align: center;
          position: absolute;
          top: -4px;
          right: -3px;
          border-radius: 8px;
          color: #fff;
          width: 15px;
          height: 15px;
        }
        .ticket-dropdown {
          padding: 15px 15px 10px 15px;
          > li > div {
            margin-bottom: 8px;
          }
        } 
      }

      .filters-menu-btn {
        background-color: transparent;
        padding: 6px;
        
        > .filter-list { 
          vertical-align: sub;
        }
      }

      .filters-menu-dropdown {
        right: 0;
        left: auto;
        min-width: 185px;
        padding: 15px 15px 10px 15px;

        > li {
          margin-bottom: 12px;
          
          &.heading{
            margin-bottom: 6px;
          }

          &.divider {
            margin: 0px -15px 10px -15px;
          }

          label {
            font-weight: normal;
            display: inline-block;
            max-width: 100%;
            margin-bottom: 0px;
            
            input {
              margin-right: 7px;
            }
          }
        }
      }
      .dropdown-toggle::after {
        border: 0;
      }
    }
  }
}

  .dashboard-table {
    margin-bottom: 0;
    > thead > tr > th {
      padding: 16px 10px;
      font-weight: 400;
      border-top: none;
      text-align: center;
      border-right: 1px solid $border-color;
      &:last-child {
        border-right: 0;
      }
    }

    > tbody > tr > td {
      padding: 10px;
      border-right: 1px solid $border-color;
      text-align: center;
      &:last-child {
        border-right: 0;
      }

      &.status-icon-col {
       width: 40px;
        border-right: 0;
      }
      &.resource-col {
        text-align: left;
      }
    }
  }


.resource-status {
  width: 4px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.nodes-dropdown {
  display: -webkit-inline-box;
}

.status-icon {
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.node-name {
  display: inline-block;
  text-align: left;
  line-height: 13px;
  margin-right: 5px;
  vertical-align: bottom;
  padding: 0;
  
  span {
    font-size: 11px;
    color: #888;
    display: block;

    > .material-icons {
      vertical-align: middle;
    }
  }
}

.modal-dialog {
  .modal-header {
    > h5 {
      font-size: 18px;
      color: $gray--darker;

      > .material-icons {
        display: inline-block;
        margin-right: 8px;
        vertical-align: text-bottom;
      }
    }

    .close {
      opacity: 1;
    }
  }
  .modal-body {
    padding: 15px 35px;

    .form-group > label {
      color: $gray--lighter;
      font-weight: 400;

      span {
        color: red;
      }
    }
  }
}

.error-container {
  padding: 0 25px 20px 25px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 12px;

  .error-list {
    padding: 0;
    li {
      color: $red;
      font-size: 13px;
      > .material-icons {
        margin-right: 8px;
        vertical-align: text-bottom;
      }

      span {
        font-weight: bold;
      }
    }
  }
}
  
.collapsed .icon-up{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(-180deg);
}
