.md-icon.md-16 { 
  font-size: 16px;
}

.md-icon.md-24 { 
  font-size: 24px;
}

.md-icon.md-32 { 
  font-size: 32px;
}

.md-icon.md-48 { 
  font-size: 48px;
}

.brand-colors {
  color: $brand-green;
}