
@import "variables.scss";

body{
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

ul, li {
  list-style: none;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel {
  border-radius: 3px;
}

.panel-heading a.collapsed .icon-up{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(-180deg);
}

.node-status {
  h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
  }
}

.material-icons.md-14 {
  font-size: 14px;
  width: 14px;
}

.material-icons.md-16 {
  font-size: 16px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-32 {
  font-size: 32px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.brand-colors {
  color: $brand-green;
}

.table > thead > tr > th {
  color: $table-header-color;
  font-weight: normal;
  border-bottom: 2px solid $border-color;
  background-color: #fafafa;
  padding: 10px 8px 10px 20px;
  height: 50px;
}

.table > tbody > tr > td {
  border-top: 1px solid #ddd;
    color: #5E5E5E;
    padding: 10px 8px 10px 20px;
    height: 50px;
    vertical-align: middle;

  > span {
    margin-right: 20px;
  }

  .material-icons {
    vertical-align: bottom;
  }
}

.open .dropdown-menu {
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  background-color: #fff;

  > li {
    color: $gray--darker;
    font-weight: 400;
    font-size: 13px;

    > a {
      padding: 6px 20px;
      > .material-icons {
        margin-right: 8px;
        vertical-align: bottom;
      }
    }
  }
}

.node-circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.gray {
  color: #a5a5a5;
}

.red {
   color: red;
}

.green {
   color: green;
}

// temporary style for dashboard table
.blue {
  color: #83afe4;
}

.yellow {
   color: rgb(196, 171, 31);
}
.yellow-bar {
  background-color: rgb(196, 171, 31);
}
.green-bar {
  background-color: green;
}
.red-bar {
  background-color: red;
}
.gray-bar {
  background-color: #a5a5a5;
}
.blue-bar {
  background-color: #83afe4;
}


// End temporary style for dashboard table



.form-control:focus {
  outline: 0;
}

.md-green {
  color: green;
}


.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
  outline-offset: 0px;
  box-shadow: none;
}


.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-primary {
  color: $white;
  background-color: $brand-green;
  border-color: $brand-green;
  font-weight: lighter;
  > .material-icons {
    vertical-align: sub;
  }

  &:hover, &:active, &.active{
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 12%);
  }

  &.focus, &:focus {
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 12%);
  }
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover, .btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: darken($brand-green, 15%);
  border-color: darken($brand-green, 16%);
}

.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid;
  display: inline-block;
}

.status-gray {
  border-color: #a5a5a5;
}

.status-red {
   border-color: red;
}

.status-green {
   border-color: green;
}

.modal-title {
  display: inline-block;
}

.btn:active, .btn.active {box-shadow: none;}


