@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "variables.scss";

body{
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

html,
.page-content-wrapper,
.container-fluid {
  height: 100%;
}

ul, li {
  list-style: none;
}

.md-icon.md-14 { 
  font-size: 14px;
  width: 14px;
}

.md-icon.md-16 { 
  font-size: 16px;
}

.md-icon.md-24 { 
  font-size: 24px;
}

.md-icon.md-32 { 
  font-size: 32px;
}

.md-icon.md-48 { 
  font-size: 48px;
}

#wrapper {
  height: 100%;
  background: #eee;
  transition: all 0.3s ease-out;
}

.brand-colors {
  color: $brand-green;
}

.table > thead > tr > th {
  color: $table-header-color;
  border-bottom: 0;
  font-weight: normal;
}

.table > tbody > tr > td {
  border-top: 1px solid #ddd;
  color: $table-text-color;
}

.open .dropdown-menu {
  border-radius: 0;
}

.gray {
  background-color: #a5a5a5;
}

.red {
   background-color: red;
}

.green {
   background-color: green;
}

.form-control:focus {
  outline: 0;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
    outline: 0;
    outline-offset: 0px;
}

.btn-primary {
  color: $white;
  background-color: $brand-green;
  border-color: $brand-green;
  font-weight: lighter;
  
  &:hover, &:active, &.active{
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 12%);
  }

  &.focus, &:focus {
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 25%);
  }
}

.btn-primary:active:hover, .btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, .btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, .btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus {
  background-color: darken($brand-green, 17%);
  border-color: darken($brand-green, 25%);
}


