
@import "variables.scss";

body {
  overflow-x: hidden;
}

html {
  height: 100%;
}

#wrapper {
  background: #eee;
  padding-left: 55px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  &.toggled {
    padding-left: 250px;

    & #sidebar-wrapper {
      width: 250px;
    }

    > #page-content-wrapper {
      position: absolute;
      margin-right: -250px;

      .logo-header {
        display: none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}


.top-navbar {
  background-color: #fff;
  padding: 15px 20px 0px 20px;
  margin: 0;
  height: 50px;
  border: 0;
  box-shadow: 0px 0px 2px #c1c1c1;

  .menu-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: text-top;
  }

  .logo-header {
    display: inline-block;
    font-size: 22px;
    margin: 0 0 0 15px;
    padding-right: 70px;
    color: $gray--lighter;
    font-weight: 400;
    vertical-align: text-bottom;
    border-right: 1px solid #ccc;
  }

  .header-cluster-status {
    width: 180px;
    display: inline-block;
    padding-left: 15px;

    .cluster-icon {
      float: left;
      margin-right: 5px;
    }

    .header-cluster-details { 
      width: auto;
      font-size: 14px;
      color: $gray--lighter;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .user-details {
    margin: 0 60px 0 0;

    span {
      vertical-align: text-bottom;
      color: $gray--darker;
      margin-left: 3px;
      font-weight: 400;
    }

    > .user-details-dropdown {
      width: 162px;
      border: 0;
      box-shadow: 0px 1px 1px #b3b3b3;
      margin-top: 12px;
      padding: 0px 20px 10px 20px;

      > li {
        padding: 4px 0;
        color: $gray--lighter;
      }
    }
  }
}


#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .container-fluid {
    height: 100%;
    padding: 0;
  }
}

.page-title {
  background: $page-heading-bg;
  padding: 40px 60px;
}

.inner {
  padding: 20px 60px;
}


