@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import "variables.scss";

body{
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: lighter;
}

html,
.page-content-wrapper,
.container-fluid {
  height: 100%;
}

#wrapper {
  height: 100%;
  padding-left: 250px;
  background: #eee;
  transition: all 0.3s ease-out;
}

.page-header {
  background-color: #fff;
  height: 78px;
  padding: 10px 40px;
  margin: 0 -15px;

  .header-cluster-status {
    width: 180px;

    .cluster-icon {
      float: left;
      margin-right: 10px;
    }

    .header-cluster-details { 
      width: auto;
      font-size: 14px;
      color: #444;
      margin-left: 15px;
      line-height: 17px;

      span {
        display: block;
        font-size: 11px;
        color: #666;
      }
    }
  }
}

.page-inner {
  padding: 25px;
}

@media (max-width: 768px) {
  #wrapper {
    padding-left: 0px;
  }
}
