@import "variables.scss";

.sticky-top {
  background: $brand-blue;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  min-height: 50px;
  width: 250px;
  border-radius: 0;

  .navbar-brand {
    color: $white;
    display: block;
    float: none;
    height: auto;
    border: 0;
    padding-right: 10px 15px;
    font-size: 24px;
    &:hover {
      color: $white;
    }
    .user-details {
      display: block;
      margin-top: 5px;
      .user-name {
        margin-left: 5px;
        vertical-align: super;
        font-size: 14px; 
      }
    }
  }
}

.sidebar-nav {
  position: relative;
  top: 0;
  width: 251px;
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;

  > li {
    text-indent: 20px;
    line-height: 50px;
    > a {
      color: white;
      display: block;
      text-decoration: none;
      &:hover {
        background: rgba(255,255,255,0.25);
        color: white;
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

.fixed-bottom {
  position: absolute;
  bottom: 0px;
  display: block;
  width: 250px;
  background: $blue--darker;
  padding: 0; 
}

.footer-simulator {
  padding: 12px 15px;
  background: $brand-blue;
  width: 249px;
  color: $white;
}

.footer-links {
  ul {
    padding-left: 20px;
    margin-bottom: 0;
    width: 249px;
    li {
      list-style: none;
      margin: 10px 0;
      color: $white;
      span {
        margin-left: 10px;
        vertical-align: text-bottom;
      }
    }
  }
}
