@import "variables.scss";

.fixed-bottom {
  position: absolute;
}

.navbar-brand{
  color: $white;
  &:hover {
    color: $white;
  }
}

.user-name {
  margin-left: 5px;
  vertical-align: text-bottom;  
}

.sidebar-nav {
  position: relative;
}

#sidebar-wrapper {
  left: -250px;
  width: 250px;
  background-color: #5677fc;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -250px;
}

@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 250px;
  }
}