@import "variables.scss";

.sticky-top {
  background: $brand-blue;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 55px;
  height: 100%;
  margin-left: -250px;
  overflow: hidden;
  background: $brand-blue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .navbar {
    border: 0;
    margin-bottom: 0;
    min-height: 50px;
    width: 250px;
    border-radius: 0;
    border-bottom: 1px solid lighten($brand-blue--light, 2%);

    .navbar-brand {
      color: $white;
      display: block;
      float: none;
      height: auto;
      border: 0;
      padding: 10px 15px;
      font-size: 22px;
      line-height: 28px;
      &:hover {
        color: $white;
      }
      .hawk-logo {
        float: left;
        margin-right: 12px;
      }
    }
  }

  .sidebar-nav {
    position: relative;
    top: 0;
    width: 251px;
    margin: 45px 0 0 0;
    padding: 0;
    list-style: none;
    text-indent: initial;

    > li {
      text-indent: 20px;
      width: 230px;
      margin-bottom: 18px;

      > a {
        color: $gray-text;
        display: block;
        text-decoration: none;
        padding: 11px 0;
        
        > .leftnav_icon{
          display: inline-block;
          text-indent: initial;
          margin: 0 15px 0 0;
        }

        span {
          vertical-align: text-bottom;
          display: inline-block;
          text-indent: initial;
        }

        &:hover {
          color: $brand-green;
          text-decoration: none;
        }
        &:active, &:focus {
          text-decoration: none;
        }
        &.router-link-active {
          background: $brand-green;
          color: white;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .fixed-bottom {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 250px;
    padding: 0;
    background: $blue--darker;
    border: 0;

    .footer-nav {
      color: $white;
      padding:14px 10px;
      background: $blue--darker;
      height: 50px;

      .footer-copyright {
        float: left;
        color: $gray-text;
        font-size: 12px;

        span {
          margin: 0 14px;
          font-size: 16px;
        }
      }

      .more-btn {
        cursor: pointer;
      }

      .footer-dropdown {
        background: $blue--darker;
        margin: 0 -10px 0 0;
        width: 249px;
        padding: 0 0 20px 0;
        border: 0;

        li {
          list-style: none;
          color: $gray-text;
          padding: 5px 20px;

          span {
            margin-left: 10px;
            vertical-align: text-bottom;
          }

          &:hover {
            color: $white; 
          }
        }

        .footer-simulator {
          padding: 12px 15px;
          background: $blue--darker;
          width: 249px;
          color: $gray-text;
          font-weight: 400;
          border-bottom: 1px solid $brand-blue--light;
          margin-bottom: 12px;

          &:hover {
            color: $gray-text;
          }
        }
      }
    }
  }
}
