
.login-bg {
  height: 100%;
  background: $brand-blue--light;
  height: 100%;
  min-height: 100%;
}

header {
  background: $brand-blue;
  
  .navbar-brand {
    padding: 20px 15px 17px 15px;
    height: auto;
    color: $white;
    font-size: 25px;
  }

  .language-btn {
    margin-top: 15px;
    background: none;
    color: $gray-text;
    border: 0;
    font-weight: lighter;

    &:hover, &:active, &:active:hover {
      background: $language-btn-bg;
      color: $gray-text;
    }
    .caret {
      border-top-color: $brand-green;
      border-bottom-color: $brand-green;
    }
  }
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}



.open .dropdown-menu-login {
  border-radius: 4px;
  background-color: $brand-blue;
  border-color: $brand-blue;
  color: $gray-text;
  box-shadow: 0 0 0;
  min-width: 100px;

  > li > a {
    color: $gray-text;
    font-weight: lighter;

    &:hover, &:focus {
      background-color: transparent;
      color: $brand-green;
    }
  }
}


#content {
  padding-top: 10em;

  h2 {
    font-size: 52px;
    display: block;
    position: relative;
    margin: 0 0 50px;
    font-weight: 200;
    color: #00c081;
    font-family: 'Raleway', sans-serif;

    span {
      display: block;
      font-size: 40px;
      font-weight: lighter;
    }
  }
  
  p {
    color: $gray-text;
    word-spacing: 3px;
    font-size: 16px;
  }

  h3 {
    font-size: 32px;
    color: $gray-text;
    margin: 0 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  } 
}


.login-panel {
  margin: 30px 0; 

  input[type="text"], input[type="password"] {
    background: $login-inputbox-bg;
    border: $login-inputbox-border;
    box-shadow: none;
    color: $gray-text;

    &:focus{
      color: $white;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0 0;
  z-index: 950;

  .bottom-line {
    height: 12px;
    background: $brand-green;
    margin-top: 12px;
  }

  .other-links {
    display: block;

    a {
      margin: 0px 10px 7px 0;
      float: left;
      display: block;
      width: 25px;
      background: $footer-icon-color;
      height: 25px;
      border-radius: 50%;
      text-align: center;
      &:hover {
        background: $brand-green;
      }

      > .material-icons {
        color: $brand-blue--light;
        margin-top: 4px;
      }
    }
  }

  .copyright {
    color: $footer-icon-color;
    clear: both;
    font-size: 13px;
  }

  .logo {
    margin-top: 15px;
  }
}
