@import "variables.scss";

.panel-graphs {
  background-color: transparent;
  border-bottom: 0;
  padding: 15px 15px;

  > h4 {
   font-size: 14px;
   font-weight: bold;
    a {
      text-decoration: none;
      margin-top: -3px;
      
      &:hover {
        text-decoration: none;
      }
    }
  } 
} 
  
.status-text {
  color: $gray--darker;
  font-weight: normal;
}

.graphs {
  > .panel-heading {
    background-color: transparent;
    border-bottom: 0;
  }
}

.back-btn-group {
  float: right;

  > .btn {
    margin-right: 10px
  }
}


.constraint-heading {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  padding-left: 5px;
}

.resource-panel {
  > .panel-heading {

    h4.panel-title {
      font-size: 14px;
      .material-icons {
        margin-right: 8px;
        vertical-align: text-bottom;
        color: $brand-green;
      }

      .rightside-icon {
        float: right;

        span {
          background-color: #d4d3d3;
          font-size: 11px;
          color: #6b6a6a;
          padding: 1px 5px 2px 5px;
          border-radius: 2px;
          line-height: 22px;
          vertical-align: top;
          margin-right: 5px;
        }

        a {
          color: inherit;
          .material-icons {
            color: inherit;
          }
        }
      }
    }
  }
  > .panel-collapse .panel-body {
    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 6px 0;

        a {
          float: right;
          color: $gray--lighter;
        }
      }
    }
  }

  > .panel-collapse .panel-footer {
    background-color: transparent;
  }
}







