
$brand-colors: #00243e;
$brand-color--light: #003159;
$brand-green: #01cb99;

$black: #000000;
$black--transparent: rgba(0, 0, 0, 0.8);
$red: #a42900;
$white: #fff;
$gray--lighter: #5E5E5E;
$gray--darker: #333;
$blue--darker: #001523;

$sidenav-header-bg: $brand-colors;
$md-sidenav-color: $white;
$table-text-color: $gray--lighter;
$table-header-color: $gray--darker;