
$brand-blue: #00243e;
$brand-blue--light: #003258;
$brand-green: #00c081;

$black: #000000;
$black--transparent: rgba(0, 0, 0, 0.8);
$red: #a42900;
$white: #fff;
$gray--lighter: #5E5E5E;
$gray--darker: #333;
$blue--darker: #001523;
$gray: #ccc;
$black: #000;

$sidenav-header-bg: $brand-blue;
$md-sidenav-color: $white;
$table-text-color: $gray--lighter;
$table-header-color: $gray--darker;

$gray-text: $gray;
$login-inputbox-bg: #002644;
$login-inputbox-border: 1px solid #004981;
$language-btn-bg: #004271;
$language-btn-bg: #004271;
$footer-icon-color: #a7a9ac;

$page-heading-bg: #e7e7e8;
$border-color: #ddd;