/* Tabs
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$tabs-border-color: $base-border-color;
$tabs-active-bg: $bc-white;
$tabs-active-border-color: $bc-green-500;
$tabs-inactive-bg: $bc-gray-80;
$tabs-text-color: $bc-gray-900;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$tab-content-bg: $bc-white;
$tab-content-padding: $l 0 0 0;