/* Header styles
   ========================================================================== */
.main-menu {
  nav {
    align-items: center;
    border-bottom: 1px solid $header-hr-color;
    display: inline-flex;
    height: $header-height;
    width: $header-width;
    margin-bottom: $header-spacing;
    padding: $header-spacing;
    justify-content: space-between;

    .hawk-logo {
      color: $header-text-color;
      display: inline-block;
      font-size: $header-font-size;
      vertical-align: middle;

    }
  }
}