/* Post styles
   ========================================================================== */
/**
*  Use it in HTML as
*  <section class='post'></section>
*
*  This rule wraps a section with a max width of 1116px and applies a box box-shadow
*/
body,
html {
  height: 100%;
}

body {
  
  background: $body-bg;
  color: $body-color;
  font-family: $font-type-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal-base;
  line-height: $line-height;
  overflow-x: hidden;
}

#wrapper {
  height: 100%;
 
  .sidebar-view { 
    padding-left: $sidebar-view-padding-left;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &.toggled {

    .sidebar-view { 
      padding-left: $sidebar-width;
    }

    & #sidebar-wrapper {
      width: $sidebar-width;
    }
  }
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .page-content-right {
    margin-right: $l;
  }

  .container-fluid {
    height: 100%;
    padding: $xl;
  }
}


