/* Resources Status
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Colors variables: /assets/stylesheets/base/variables/spacing.scss */
/* resource-p = resource-panel */ 

$resource-p-icons-margin-right: $s;
$resource-p-counter-bg: $bc-gray-200;
$resource-p-counter-font-size: $s + 3;
$resource-p-counter-color: $bc-gray-800;
$resource-p-counter-padding: 0 $xs 0 $xs;
$resource-p-counter-border-radius: $xs - 2;
$resource-p-counter-line-height: $l;
$resource-p-counter-margin-right: $xs;
$resource-p-li-padding: $xs 0;
