/* Monitoring variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Colors variables: /assets/stylesheets/base/variables/spacing.scss */
$dashboard-header-padding: 0 30px 10px 30px;
$dashboard-header-border-bottom: 1px solid $base-border-color;
$dashboard-search-width: 200px;
$dashboard-search-color: $sb-gray-400;
$dashboard-status-line-width: $xs;
$dashboard-status-line-height: $l + 1;
$dashboard-status-line-margin-right: $xs;
$dashboard-nodes-line-height: $m - 2;
$dashboard-nodes-margin-right: $xs;
$dashboard-nodes-span-font-size: $m - 5;
$dashboard-nodes-span-color: $sb-gray-400;
