/* Login
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Colors variables: /assets/stylesheets/base/variables/spacing.scss */
/* lang-btn = language-button */
$login-bg: $bc-blue-500;
$login-padding-top: 10em;
$login-header-bg: $bc-blue-700;
$login-header-color: $bc-gray-100;
$login-header-font-size: $l;
$login-lang-btn-margin-top: $s;
$login-lang-btn-color: $bc-gray-100;
$login-lang-btn-hover-bg: $bc-blue-400;
$login-lang-btn-hover-color: $bc-gray-300;
$login-lang-btn-caret-color: $bc-green-500;

$login-intro-h2-font-size: $xxl + 4;
$login-intro-h2-margin: 0 0 $xxl;
$login-intro-h2-font-weight: $font-weight-normal-base;
$login-intro-h2-color: $bc-green-500;
$login-intro-h2-span-font-size: $xxl;
$login-intro-h2-span-font-weight: $font-weight-light-base;
$login-intro-p-color: $bc-gray-300;
$login-intro-p-font-size: $m;

$login-form-margin-left: 8%;
$login-sign-h3-font-size: $xl;
$login-sign-h3-color: $bc-gray-300;
$login-sign-h3-margin: 0 0 $m 0;
$login-sign-h3-font-weight: $font-weight-normal-base;

$login-input-bg: $bc-blue-700;
$login-input-border-color: $bc-blue-400;
$login-input-color: $bc-gray-300;
$login-input-focus-color: $bc-white;


$login-footer-padding: $m 0 0;
$login-footer-bottom-line-height: $m;
$login-footer-bottom-line-bg: $bc-green-500;
$login-footer-bottom-line-margin-top: $m;

$login-footer-links-margin: 0px $s $s 0;
$login-footer-links-width-height: $l;
$login-footer-links-bg: $bc-gray-300;
$login-footer-links-hover-bg: $bc-green-500;
$login-footer-links-icons-color: $bc-blue-500;
$login-footer-copyright-color: $bc-gray-300;

