/* Status Circle Bar
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Colors variables: /assets/stylesheets/base/variables/shadows.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$status-circle-bar-width: $xs;
$status-circle-bar-height: $l + 1;
$status-circle-bar-margin-right: $xs;
