/* Status Circle
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/status-circle-bar.scss */
.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: gray;
}

.status-line {
  width: $status-circle-bar-width;
  height: $status-circle-bar-height;
  display: inline-block;
  vertical-align: middle;
  margin-right: $status-circle-bar-margin-right;
}
