/* Tabs
   ========================================================================== */
/**
*
* Variables file: assets/stylesheets/base/variables/legend.scss
*
*/
.legend {
  float: right;

  > .btn {
    background: transparent;
    padding: 6px 3px;
  }

  &.show {
    > ul {
      width: $legend-ul-width;
      padding: $legend-ul-padding;
      border-radius: 0;

      > li {
        width: $legend-li-width;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 14px;

        a {
          padding: $legend-li-a-padding;

          &:hover {
            background: none;
          }

          > .material-icons {
            vertical-align: bottom;
            margin-right: $legend-icons-margin-right;
          }
        }
      }
    }
  }
}
