/* Tables
   ========================================================================== */
/* Tables */
/* Variables: /assets/stylesheets/base/variables/tables.scss */
.table { 
  border-color: $table-border-color;
  
  > thead > tr > th {
    border-color: $table-border-color;
    font-weight: normal;
    border-bottom: $table-th-border-bottom;
    background-color: $table-th-background;
    padding: $table-th-padding;
  }

  > tbody > tr > td {
    border-color: $table-border-color;
    height: $table-td-height;

    .btn {
      padding: 0;
    }
  }
}

/* Dashboard Table */
.dashboard-table {
  margin-bottom: 0;

  > thead > tr > th {
    text-align: center;
    border-right: $dashboard-t-border;

    &:last-child {
      border-right: 0;
    }
  }

  > tbody > tr > td {
    border-right: $dashboard-t-border;
    text-align: center;

    &:last-child {
      border-right: 0;
    }

    &.status-icon-col {
      width: $dashboard-t-status-icon-col-width;
      border-right: 0;
    }
    &.resource-col {
      text-align: left;
    }
  }
}

/* Node and Resources pages Tables */
.table-event-resources,
.table-node-events,
.table-node-resources {
  .status-circle {
    margin-right: $status-circle-margin-right;
    width: $status-circle-width-height;
    height: $status-circle-width-height;
  }
}

/* Trubleshooting Reports Table */
.reports-table {
  margin-bottom: 0;
}

