/* Clusters Page
   ========================================================================== */
/* Variables: /assets/stylesheets/pages/monitoring/clusters.page.scss */

.clusters-box {
  display: inline-grid;
  margin-bottom: $clusters-box-margin-bottom; 
    
  > .box-shadow {
    display: flex;
    align-items: center;
  }

  .clusters-status {
    display: contents;

    > .status-box {
      text-align: center;
      border-right: $clusters-status-box-border-right;
      padding: $clusters-status-box-padding;

      &:last-child {
        border-right: 0;
      }

      > i {
        margin-right: $clusters-status-box-i-margin-right;
        vertical-align: text-bottom;
      }
    }

    .total-box {
      font-weight: bold;
      font-size: $clusters-status-total-box-font-size;
    }

    span {
      font-size: $clusters-total-box-span-font-size;
      display: block;
      margin-bottom: $clusters-total-box-span-margin-bottom;
      font-weight: normal;
    }
  }
}

.nodes-box,
.resources-box {
  margin-bottom: $clusters-box-margin-bottom;

  .total-count{
    font-size: $clusters-total-count-font-size;

    span {
      font-size: $clusters-total-count-span-font-size;
      display: flex;
      margin-top: $clusters-total-count-span-margin-top; 
    }
  }
  .cdc-legend {
    margin-top: $clusters-cdc-legend-margin-top;

    .cdc-legend-item {
      font-size: $clusters-cdc-legend-item-font-size;
      margin: $clusters-cdc-legend-item-margin;

      .cdc-legend-item-color {
        height: $clusters-cdc-legend-item-color-height;
        width: $clusters-cdc-legend-item-color-height;
        border-radius: 50%;
      }
    }
  }
}

.search-section{
  padding: $clusters-search-section-padding;

  input {
    width: $clusters-search-input-width;
  }
}

