/* Main menu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$main-menu-border: 1px solid $base-border-color;
$main-menu-bg: $sb-blue-500;
$main-menu-link-color: $sb-white;


/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */

$main-menu-li-no-link-margin: $m 0 0 0;
$main-menu-li-no-link-padding: $s $xs $s $xs;
$main-menu-icon-margin: 0 $m 0 $m;
$main-menu-margin-left-negative: -250px;
$main-menu-li-no-link-width: 230px;
