/* Components
   ========================================================================== */
/**
*  This folder contains modules that compose the application
*/
@import 'main-menu';
@import 'page-header';
@import 'page-title';
@import 'tabs';
@import 'legend';
@import 'buttons';
@import 'error';
@import 'dropdown';
@import 'tables';
@import 'icons/base';
@import 'collapsed-icon';
@import 'modal-dialog';
@import 'status-circle';
