/* Components
   ========================================================================== */
/**
*  This folder contains modules that compose the application
*/
@import 'main-menu';
@import 'page-header';
@import 'page-title';
@import 'tabs';
@import 'legend';