/* Main menu
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/main-menu.scss */

.sidebar-view {
  padding-left: $sidebar-view-padding-left;
}

.main-menu {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 55px;
  height: 100%;
  margin-left: $main-menu-margin-left-negative;
  background-color: $main-menu-bg;
  border-right: $main-menu-border;

  .router-link-active {
    width: 54px;
    border-radius: 0;
  }

  nav {
    width: 54px;

    .hawk-logo {
      display: none;
      white-space: nowrap;
    }
  }

  ul,
  li {
    padding: 0;
  }

  li a,
  .li-no-link {
    color: $main-menu-link-color;
    display: block;
    font-weight: $font-weight-normal-base;
    margin: $main-menu-li-no-link-margin;
    padding: $main-menu-li-no-link-padding;
    position: relative;
    width: auto;

    span {
      display: none;
      white-space: nowrap;
    }

    > .material-icons {
      display: inline-block;
      text-indent: initial;
      margin: $main-menu-icon-margin;
      vertical-align: bottom;
    }
  }
}

.toggled {
  .sidebar-view { 
    padding-left: $sidebar-width;

    .main-menu {
      .router-link-active {
        width: 230px;
        border-radius: 0 2px 2px 0;
      }
      nav {
        width: 249px;

        .hawk-logo {
          display: inline-block;
        }
      }
    }
    ul li a span {
      display: inline-block;
      white-space: nowrap;
    }
  }

  & #sidebar-wrapper {
    width: $sidebar-width;
  }
}

