/* Page Title
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/page-title.scss */
.page-title {
  padding: 32px;
}

/* Back and setting button group */
.back-setting-btn-group {
  float: right;
  display: flex;

  .btn {
    margin-right: 15px;
  }

  :last-child .btn {
    margin-right: 0;
  }
}
