/* Status Circle
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/status-circle.scss */
.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: gray;
}