/* Status Circle
   ========================================================================== */
/* Variables file: assets/stylesheets/base/variables/status-circle.scss */
.status-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: gray;
}

.status-line {
  width: $dashboard-status-line-width;
  height: $dashboard-status-line-height;
  display: inline-block;
  vertical-align: middle;
  margin-right: $dashboard-status-line-margin-right;
}

