/* Tables
   ========================================================================== */
/* Tables */
/* Variables: /assets/stylesheets/base/variables/tables.scss */
.table { 
  border-color: $table-border-color;
  
  > thead > tr > th {
    border-color: $table-border-color;
    font-weight: normal;
    border-bottom: $table-th-border-bottom;
    background-color: $table-th-background;
    padding: $table-th-padding;
  }

  > tbody > tr > td {
    border-color: $table-border-color;

    .btn {
      padding: 0;
    }
  }
}

/* Dashboard Table */
.dashboard-table {
  margin-bottom: 0;

  > thead > tr > th {
    font-weight: 400;
    text-align: center;
    border-right: $dashboard-table-border-right;

    &:last-child {
      border-right: 0;
    }
  }

  > tbody > tr > td {
    border-right: 1px solid $base-border-color;
    text-align: center;

    &:last-child {
      border-right: 0;
    }

    &.status-icon-col {
      width: 70px;
      border-right: 0;
    }
    &.resource-col {
      text-align: left;
    }
  }
}
