/* Tables
   ========================================================================== */
/* Tables */
/* Variables: /assets/stylesheets/base/variables/tables.scss */
.table { 
  border-color: $base-border-color;
  > thead > tr > th {
    border-color: $base-border-color;
  }
  
  tbody > tr > td {
    border-color: $base-border-color;
  }
}

/* Dashboard Table */
.dashboard-table {
  margin-bottom: 0;

  > thead > tr > th {
    font-weight: 400;
    text-align: center;
    border-right: 1px solid $base-border-color;

    &:last-child {
      border-right: 0;
    }
  }

  > tbody > tr > td {
    border-right: 1px solid $base-border-color;
    text-align: center;

    &:last-child {
      border-right: 0;
    }

    &.status-icon-col {
      width: 40px;
      border-right: 0;
    }
    &.resource-col {
      text-align: left;
    }
  }
}
