/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/base/variables/tabs.scss
*/
#tabs {
  > ul.nav-pills {
    display: inline-block;
    float: left;

    li {
      padding: 0;

      a { 
        color: $tabs-text-color;
        border-radius: 0;
        border-top: 3px solid transparent;
        background-color: $tabs-inactive-bg;
        margin-bottom: -1px;

        > span {
          margin-left: 5px;
        }
      }

      &.active > a {
        background-color: white;
        border: 1px solid $tabs-border-color;
        border-top: 3px solid $tabs-active-border-color;
        border-bottom: 0;
      }
    }
  }
}

.tab-content {
  clear: both;
  border: 1px solid $tabs-border-color;
  padding: $tab-content-padding;
}
