/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/base/variables/tabs.scss
*/

ul.nav-tabs {
  display: inline-flex;
  border-bottom: 0;

  li {
    padding: 0;

    a.nav-link { 
      color: $tabs-text-color;
      border-radius: 0;
      border-top: 3px solid transparent;
      background-color: $tabs-inactive-bg;

      .status-circle {
        margin-left: 5px;
        width: 8px;
        height: 8px;
      }

      > .material-icons {
        vertical-align: sub;
        margin-right: 6px;
      }

      &.active {
        background-color: white;
        border: 1px solid $tabs-border-color;
        border-top: 3px solid $tabs-active-border-color;
        border-bottom: 0;
      }
    }
  }
}


.tab-content {
  clear: both;
  border: 1px solid $tabs-border-color;
  padding: $tab-content-padding;
  background: $tab-content-bg;
  margin-top: -1px;

  .container {
    padding: 0;
  }
}

