/* Configuration
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
/* Colors variables: /assets/stylesheets/base/variables/spacing.scss */

$config-card-padding: $xl;
$config-card-i-margin-right: $l;
$config-card-i-color: $bc-green-500;
$config-card-h4-margin: 0 0 $xs 0;
$config-card-h4-color: $bc-gray-900;
$config-page-h4-margin: $xxl 0 $m 0;

$config-setting-card-padding: 40px;
$config-setting-card-i-color: $bc-gray-700;