
@import "variables.scss";

.form-control:focus {
  outline: 0;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
  outline-offset: 0px;
  box-shadow: none;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.btn-primary {
  color: $white;
  background-color: $brand-green;
  border-color: $brand-green;
  font-weight: lighter;

  > .material-icons {
    vertical-align: sub;
  }

  &:hover, &:active, &.active{
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 12%);
  }

  &.focus, &:focus {
    color: $white;
    background-color: darken($brand-green, 10%);
    border-color: darken($brand-green, 12%);
  }
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover, .btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  background-color: darken($brand-green, 15%);
  border-color: darken($brand-green, 16%);
}



.status-gray {
  border-color: #a5a5a5;
}

.status-red {
   border-color: red;
}

.status-green {
   border-color: green;
}

.modal-title {
  display: inline-block;
}

.btn:active, .btn.active {box-shadow: none;}


