.config-card {
  padding: 30px 20px;
  &-icon {
    font-size: 40px;
    margin-right: 15px;
    color: $brand-green;
    vertical-align: bottom;
  }
  &-contain {
    display: inline-block;
    > h4 {
      margin: 0 0 5px 0;
      color: $gray--lighter;
    }
    > span {
      color: lighten($gray--lighter, 20%);
    }
  }
}

.configuration > h4 {
  margin-top: 50px;
}

.setting-card {
  padding: 40px;
  text-align: center;

  &-icon {
    font-size: 40px;
    color: $gray--lighter;
  }
  > h4 {
    color: lighten($gray--lighter, 20%);
    margin-bottom: 0; 
  }
}